<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="../../src/Angara.Math.Kde/packages.config" />
  <repository path="../../src/library/Angara.Methods.CompileFSharp/packages.config" />
  <repository path="../../src/Scenarios-Sprint1/packages.config" />
  <repository path="..\..\..\biology\Z34Bio\ReasoningEngine_v0.1\Constraints\packages.config" />
  <repository path="..\..\..\biology\Z34Bio\ReasoningEngine_v0.1\ReasoningEngine\packages.config" />
  <repository path="..\..\..\biology\Z34Bio\ReasoningEngine_v0.1\REIN\packages.config" />
  <repository path="..\..\..\LTS\SiteGraphReactor\SiteGraphReactor\packages.config" />
  <repository path="..\..\sln\AngaraBiologySamplesDev\CRNSynthesis\packages.config" />
  <repository path="..\..\sln\hykl_upgrade\hykl_upgrade\packages.config" />
  <repository path="..\..\src\Angara.EcoModelling.Samples\byNuget\Angara.EcoModelling.Sample.Angara\packages.config" />
  <repository path="..\..\src\Angara.EcoModelling.Samples\byNuget\Angara.EcoModelling.Sample.Baikal\packages.config" />
  <repository path="..\..\src\Angara.EcoModelling.Samples\byNuget\Angara.EcoModelling.Sample.Direct\packages.config" />
  <repository path="..\..\src\Angara.Math.Kde\packages.config" />
  <repository path="..\..\src\Angara.Persistence.Tests\packages.config" />
  <repository path="..\..\src\Angara.Persistence\packages.config" />
  <repository path="..\..\src\Angara.Proxy\packages.config" />
  <repository path="..\..\src\Angara.Remoting.Tests\packages.config" />
  <repository path="..\..\src\Angara.Remoting\packages.config" />
  <repository path="..\..\src\Angara.Serialization.Tests\packages.config" />
  <repository path="..\..\src\Angara.Server.Tests\packages.config" />
  <repository path="..\..\src\Angara.Server\packages.config" />
  <repository path="..\..\src\Angara.Tests\packages.config" />
  <repository path="..\..\src\Angara.Web.Client\packages.config" />
  <repository path="..\..\src\AngaraSamplesWebSharper.HelloWorld\packages.config" />
  <repository path="..\..\src\AngaraWebSharper.SampleUI\packages.config" />
  <repository path="..\..\src\AngaraWebSharper\packages.config" />
  <repository path="..\..\src\Baikal\packages.config" />
  <repository path="..\..\src\BaikalContainerApp\packages.config" />
  <repository path="..\..\src\BaikalDistributedSample\packages.config" />
  <repository path="..\..\src\BaikalTests\packages.config" />
  <repository path="..\..\src\ChartServerSample\packages.config" />
  <repository path="..\..\src\DSDTool\packages.config" />
  <repository path="..\..\src\library\Angara.Artefacts.GEMConfiguration.Tests\packages.config" />
  <repository path="..\..\src\library\Angara.Artefacts.GEMEnvironment.Tests\packages.config" />
  <repository path="..\..\src\library\Angara.Artefacts.GEMModelState.Tests\packages.config" />
  <repository path="..\..\src\library\Angara.Artefacts.Table.Tests\packages.config" />
  <repository path="..\..\src\library\Angara.Methods.CompileFSharp.Tests\packages.config" />
  <repository path="..\..\src\library\Angara.Methods.CompileFSharp\packages.config" />
  <repository path="..\..\src\library\Angara.Methods.CompileStrandGraph\packages.config" />
  <repository path="..\..\src\library\Angara.Methods.ConstrainCode.Tests\packages.config" />
  <repository path="..\..\src\library\Angara.Methods.ImportCsv.Tests\packages.config" />
  <repository path="..\..\src\library\Angara.Methods.ImportGEMConfiguration.Tests\packages.config" />
  <repository path="..\..\src\library\Angara.Methods.ImportGEMEnvironment.Tests\packages.config" />
  <repository path="..\..\src\library\Angara.Methods.MakeData.Tests\packages.config" />
  <repository path="..\..\src\library\Angara.Methods.RunGEM.Tests\packages.config" />
  <repository path="..\..\src\library\AngaraWebSharper.ComputeRuntime\packages.config" />
  <repository path="..\..\src\LinearRegressionServerSample\packages.config" />
  <repository path="..\..\src\MakeDataServerSample\packages.config" />
  <repository path="..\..\src\Scenarios-Madingley\packages.config" />
  <repository path="..\..\src\Scenarios-SimulateDSD\packages.config" />
  <repository path="..\..\src\Scenarios-Sprint1\packages.config" />
  <repository path="..\..\src\SimulateCRNDev\packages.config" />
  <repository path="..\..\src\SimulateDSDDev\packages.config" />
  <repository path="..\..\src\TracingServerSample\packages.config" />
  <repository path="..\..\src\Web_UI_Host\packages.config" />
  <repository path="..\..\src\WheatServerSample\packages.config" />
</repositories>